VITE_SUPABASE_URL=https://chikifyuujayixwyzhhc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoaWtpZnl1dWpheWl4d3l6aGhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MjczODYsImV4cCI6MjA5MjAwMzM4Nn0.UHgjz4prE_TAGqCWVdLQPiqR31-E6uYAEwC-e36xMx0
